i[jam]{
    background-size : contains ;
	display:inline-block;
	width : 24px ;	
	height : 24px ;	
}
/* <i jam accessibility></i> */
i[_500px]{ background : url('icons/500px.svg');}
i[accessibility]{ background : url('icons/accessibility.svg');}
i[activity]{ background : url('icons/activity.svg');}
i[airbnb]{ background : url('icons/airbnb.svg');}
i[alarm-clock-f]{ background : url('icons/alarm-clock-f.svg');}
i[alarm-clock]{ background : url('icons/alarm-clock.svg');}
i[alert-f]{ background : url('icons/alert-f.svg');}
i[alert]{ background : url('icons/alert.svg');}
i[alien-f]{ background : url('icons/alien-f.svg');}
i[alien]{ background : url('icons/alien.svg');}
i[align-center]{ background : url('icons/align-center.svg');}
i[align-justify]{ background : url('icons/align-justify.svg');}
i[align-left]{ background : url('icons/align-left.svg');}
i[align-right]{ background : url('icons/align-right.svg');}
i[amazon]{ background : url('icons/amazon.svg');}
i[anchor]{ background : url('icons/anchor.svg');}
i[android-circle]{ background : url('icons/android-circle.svg');}
i[android-square]{ background : url('icons/android-square.svg');}
i[android]{ background : url('icons/android.svg');}
i[aperture]{ background : url('icons/aperture.svg');}
i[apple-circle]{ background : url('icons/apple-circle.svg');}
i[apple-square]{ background : url('icons/apple-square.svg');}
i[apple]{ background : url('icons/apple.svg');}
i[archive-f]{ background : url('icons/archive-f.svg');}
i[archive]{ background : url('icons/archive.svg');}
i[arrow-circle-down-f]{ background : url('icons/arrow-circle-down-f.svg');}
i[arrow-circle-down-left-f]{ background : url('icons/arrow-circle-down-left-f.svg');}
i[arrow-circle-down-left]{ background : url('icons/arrow-circle-down-left.svg');}
i[arrow-circle-down-right-f]{ background : url('icons/arrow-circle-down-right-f.svg');}
i[arrow-circle-down-right]{ background : url('icons/arrow-circle-down-right.svg');}
i[arrow-circle-down]{ background : url('icons/arrow-circle-down.svg');}
i[arrow-circle-left-f]{ background : url('icons/arrow-circle-left-f.svg');}
i[arrow-circle-left]{ background : url('icons/arrow-circle-left.svg');}
i[arrow-circle-right-f]{ background : url('icons/arrow-circle-right-f.svg');}
i[arrow-circle-right]{ background : url('icons/arrow-circle-right.svg');}
i[arrow-circle-up-f]{ background : url('icons/arrow-circle-up-f.svg');}
i[arrow-circle-up-left-f]{ background : url('icons/arrow-circle-up-left-f.svg');}
i[arrow-circle-up-left]{ background : url('icons/arrow-circle-up-left.svg');}
i[arrow-circle-up-right-f]{ background : url('icons/arrow-circle-up-right-f.svg');}
i[arrow-circle-up-right]{ background : url('icons/arrow-circle-up-right.svg');}
i[arrow-circle-up]{ background : url('icons/arrow-circle-up.svg');}
i[arrow-down-left]{ background : url('icons/arrow-down-left.svg');}
i[arrow-down-right]{ background : url('icons/arrow-down-right.svg');}
i[arrow-down]{ background : url('icons/arrow-down.svg');}
i[arrow-left]{ background : url('icons/arrow-left.svg');}
i[arrow-right]{ background : url('icons/arrow-right.svg');}
i[arrows-corners]{ background : url('icons/arrows-corners.svg');}
i[arrows-fullscreen]{ background : url('icons/arrows-fullscreen.svg');}
i[arrows-h]{ background : url('icons/arrows-h.svg');}
i[arrow-square-down-f]{ background : url('icons/arrow-square-down-f.svg');}
i[arrow-square-down-left-f]{ background : url('icons/arrow-square-down-left-f.svg');}
i[arrow-square-down-left]{ background : url('icons/arrow-square-down-left.svg');}
i[arrow-square-down-right-f]{ background : url('icons/arrow-square-down-right-f.svg');}
i[arrow-square-down-right]{ background : url('icons/arrow-square-down-right.svg');}
i[arrow-square-down]{ background : url('icons/arrow-square-down.svg');}
i[arrow-square-left-f]{ background : url('icons/arrow-square-left-f.svg');}
i[arrow-square-left]{ background : url('icons/arrow-square-left.svg');}
i[arrow-square-right-f]{ background : url('icons/arrow-square-right-f.svg');}
i[arrow-square-right]{ background : url('icons/arrow-square-right.svg');}
i[arrow-square-up-f]{ background : url('icons/arrow-square-up-f.svg');}
i[arrow-square-up-left-f]{ background : url('icons/arrow-square-up-left-f.svg');}
i[arrow-square-up-left]{ background : url('icons/arrow-square-up-left.svg');}
i[arrow-square-up-right-f]{ background : url('icons/arrow-square-up-right-f.svg');}
i[arrow-square-up-right]{ background : url('icons/arrow-square-up-right.svg');}
i[arrow-square-up]{ background : url('icons/arrow-square-up.svg');}
i[arrows-v]{ background : url('icons/arrows-v.svg');}
i[arrow-up-left]{ background : url('icons/arrow-up-left.svg');}
i[arrow-up-right]{ background : url('icons/arrow-up-right.svg');}
i[arrow-up]{ background : url('icons/arrow-up.svg');}
i[attachment]{ background : url('icons/attachment.svg');}
i[background-color]{ background : url('icons/background-color.svg');}
i[backpack-f]{ background : url('icons/backpack-f.svg');}
i[backpack]{ background : url('icons/backpack.svg');}
i[backward-circle-f]{ background : url('icons/backward-circle-f.svg');}
i[backward-circle]{ background : url('icons/backward-circle.svg');}
i[backward-square-f]{ background : url('icons/backward-square-f.svg');}
i[backward-square]{ background : url('icons/backward-square.svg');}
i[backward]{ background : url('icons/backward.svg');}
i[baidu-circle]{ background : url('icons/baidu-circle.svg');}
i[baidu-square]{ background : url('icons/baidu-square.svg');}
i[baidu]{ background : url('icons/baidu.svg');}
i[bandage-f]{ background : url('icons/bandage-f.svg');}
i[bandage]{ background : url('icons/bandage.svg');}
i[bar-chart]{ background : url('icons/bar-chart.svg');}
i[baseball]{ background : url('icons/baseball.svg');}
i[basketball]{ background : url('icons/basketball.svg');}
i[bathtub-f]{ background : url('icons/bathtub-f.svg');}
i[bathtub]{ background : url('icons/bathtub.svg');}
i[battery-charging-f]{ background : url('icons/battery-charging-f.svg');}
i[battery-charging]{ background : url('icons/battery-charging.svg');}
i[battery-f]{ background : url('icons/battery-f.svg');}
i[battery-half-f]{ background : url('icons/battery-half-f.svg');}
i[battery-half]{ background : url('icons/battery-half.svg');}
i[battery-one-quarter-f]{ background : url('icons/battery-one-quarter-f.svg');}
i[battery-one-quarter]{ background : url('icons/battery-one-quarter.svg');}
i[battery]{ background : url('icons/battery.svg');}
i[battery-three-quarters-f]{ background : url('icons/battery-three-quarters-f.svg');}
i[battery-three-quarters]{ background : url('icons/battery-three-quarters.svg');}
i[beatport-circle]{ background : url('icons/beatport-circle.svg');}
i[beatport-square]{ background : url('icons/beatport-square.svg');}
i[beatport]{ background : url('icons/beatport.svg');}
i[beer-f]{ background : url('icons/beer-f.svg');}
i[beer]{ background : url('icons/beer.svg');}
i[behance-circle]{ background : url('icons/behance-circle.svg');}
i[behance-square]{ background : url('icons/behance-square.svg');}
i[behance]{ background : url('icons/behance.svg');}
i[bell-f]{ background : url('icons/bell-f.svg');}
i[bell-off-f]{ background : url('icons/bell-off-f.svg');}
i[bell-off]{ background : url('icons/bell-off.svg');}
i[bell]{ background : url('icons/bell.svg');}
i[bing-circle]{ background : url('icons/bing-circle.svg');}
i[bing-square]{ background : url('icons/bing-square.svg');}
i[bing]{ background : url('icons/bing.svg');}
i[birthday-cake-f]{ background : url('icons/birthday-cake-f.svg');}
i[birthday-cake]{ background : url('icons/birthday-cake.svg');}
i[blogger-circle]{ background : url('icons/blogger-circle.svg');}
i[blogger-square]{ background : url('icons/blogger-square.svg');}
i[blogger]{ background : url('icons/blogger.svg');}
i[bluetooth]{ background : url('icons/bluetooth.svg');}
i[bold]{ background : url('icons/bold.svg');}
i[book-f]{ background : url('icons/book-f.svg');}
i[bookmark-f]{ background : url('icons/bookmark-f.svg');}
i[bookmark-minus-f]{ background : url('icons/bookmark-minus-f.svg');}
i[bookmark-minus]{ background : url('icons/bookmark-minus.svg');}
i[bookmark-plus-f]{ background : url('icons/bookmark-plus-f.svg');}
i[bookmark-plus]{ background : url('icons/bookmark-plus.svg');}
i[bookmark-remove-f]{ background : url('icons/bookmark-remove-f.svg');}
i[bookmark-remove]{ background : url('icons/bookmark-remove.svg');}
i[bookmark]{ background : url('icons/bookmark.svg');}
i[book]{ background : url('icons/book.svg');}
i[bottle-f]{ background : url('icons/bottle-f.svg');}
i[bottle]{ background : url('icons/bottle.svg');}
i[box-f]{ background : url('icons/box-f.svg');}
i[box]{ background : url('icons/box.svg');}
i[branch-f]{ background : url('icons/branch-f.svg');}
i[branch]{ background : url('icons/branch.svg');}
i[brightness-down-f]{ background : url('icons/brightness-down-f.svg');}
i[brightness-down]{ background : url('icons/brightness-down.svg');}
i[brightness]{ background : url('icons/brightness.svg');}
i[brightness-up-f]{ background : url('icons/brightness-up-f.svg');}
i[brightness-up]{ background : url('icons/brightness-up.svg');}
i[browse]{ background : url('icons/browse.svg');}
i[brush-f]{ background : url('icons/brush-f.svg');}
i[brush]{ background : url('icons/brush.svg');}
i[bug-f]{ background : url('icons/bug-f.svg');}
i[bug]{ background : url('icons/bug.svg');}
i[building-f]{ background : url('icons/building-f.svg');}
i[building]{ background : url('icons/building.svg');}
i[bus-f]{ background : url('icons/bus-f.svg');}
i[bus]{ background : url('icons/bus.svg');}
i[cactus-f]{ background : url('icons/cactus-f.svg');}
i[cactus]{ background : url('icons/cactus.svg');}
i[calculator]{ background : url('icons/calculator.svg');}
i[calendar-alt-f]{ background : url('icons/calendar-alt-f.svg');}
i[calendar-alt]{ background : url('icons/calendar-alt.svg');}
i[calendar-f]{ background : url('icons/calendar-f.svg');}
i[calendar]{ background : url('icons/calendar.svg');}
i[camera-alt-f]{ background : url('icons/camera-alt-f.svg');}
i[camera-alt]{ background : url('icons/camera-alt.svg');}
i[camera-f]{ background : url('icons/camera-f.svg');}
i[camera]{ background : url('icons/camera.svg');}
i[candle-f]{ background : url('icons/candle-f.svg');}
i[candle]{ background : url('icons/candle.svg');}
i[capsule-f]{ background : url('icons/capsule-f.svg');}
i[capsule]{ background : url('icons/capsule.svg');}
i[car-f]{ background : url('icons/car-f.svg');}
i[car]{ background : url('icons/car.svg');}
i[castle-f]{ background : url('icons/castle-f.svg');}
i[castle]{ background : url('icons/castle.svg');}
i[character]{ background : url('icons/character.svg');}
i[check]{ background : url('icons/check.svg');}
i[chevron-circle-down-f]{ background : url('icons/chevron-circle-down-f.svg');}
i[chevron-circle-down-left-f]{ background : url('icons/chevron-circle-down-left-f.svg');}
i[chevron-circle-down-left]{ background : url('icons/chevron-circle-down-left.svg');}
i[chevron-circle-down-right-f]{ background : url('icons/chevron-circle-down-right-f.svg');}
i[chevron-circle-down-right]{ background : url('icons/chevron-circle-down-right.svg');}
i[chevron-circle-down]{ background : url('icons/chevron-circle-down.svg');}
i[chevron-circle-left-f]{ background : url('icons/chevron-circle-left-f.svg');}
i[chevron-circle-left]{ background : url('icons/chevron-circle-left.svg');}
i[chevron-circle-right-f]{ background : url('icons/chevron-circle-right-f.svg');}
i[chevron-circle-right]{ background : url('icons/chevron-circle-right.svg');}
i[chevron-circle-up-f]{ background : url('icons/chevron-circle-up-f.svg');}
i[chevron-circle-up-left-f]{ background : url('icons/chevron-circle-up-left-f.svg');}
i[chevron-circle-up-left]{ background : url('icons/chevron-circle-up-left.svg');}
i[chevron-circle-up-right-f]{ background : url('icons/chevron-circle-up-right-f.svg');}
i[chevron-circle-up-right]{ background : url('icons/chevron-circle-up-right.svg');}
i[chevron-circle-up]{ background : url('icons/chevron-circle-up.svg');}
i[chevron-down-left]{ background : url('icons/chevron-down-left.svg');}
i[chevron-down-right]{ background : url('icons/chevron-down-right.svg');}
i[chevron-down]{ background : url('icons/chevron-down.svg');}
i[chevron-left]{ background : url('icons/chevron-left.svg');}
i[chevron-right]{ background : url('icons/chevron-right.svg');}
i[chevrons-circle-down-f]{ background : url('icons/chevrons-circle-down-f.svg');}
i[chevrons-circle-down-left-f]{ background : url('icons/chevrons-circle-down-left-f.svg');}
i[chevrons-circle-down-left]{ background : url('icons/chevrons-circle-down-left.svg');}
i[chevrons-circle-down-right-f]{ background : url('icons/chevrons-circle-down-right-f.svg');}
i[chevrons-circle-down-right]{ background : url('icons/chevrons-circle-down-right.svg');}
i[chevrons-circle-down]{ background : url('icons/chevrons-circle-down.svg');}
i[chevrons-circle-left-f]{ background : url('icons/chevrons-circle-left-f.svg');}
i[chevrons-circle-left]{ background : url('icons/chevrons-circle-left.svg');}
i[chevrons-circle-right-f]{ background : url('icons/chevrons-circle-right-f.svg');}
i[chevrons-circle-right]{ background : url('icons/chevrons-circle-right.svg');}
i[chevrons-circle-up-f]{ background : url('icons/chevrons-circle-up-f.svg');}
i[chevrons-circle-up-left-f]{ background : url('icons/chevrons-circle-up-left-f.svg');}
i[chevrons-circle-up-left]{ background : url('icons/chevrons-circle-up-left.svg');}
i[chevrons-circle-up-right-f]{ background : url('icons/chevrons-circle-up-right-f.svg');}
i[chevrons-circle-up-right]{ background : url('icons/chevrons-circle-up-right.svg');}
i[chevrons-circle-up]{ background : url('icons/chevrons-circle-up.svg');}
i[chevrons-down-left]{ background : url('icons/chevrons-down-left.svg');}
i[chevrons-down-right]{ background : url('icons/chevrons-down-right.svg');}
i[chevrons-down]{ background : url('icons/chevrons-down.svg');}
i[chevrons-left]{ background : url('icons/chevrons-left.svg');}
i[chevron-square-down-f]{ background : url('icons/chevron-square-down-f.svg');}
i[chevron-square-down-left-f]{ background : url('icons/chevron-square-down-left-f.svg');}
i[chevron-square-down-left]{ background : url('icons/chevron-square-down-left.svg');}
i[chevron-square-down-right-f]{ background : url('icons/chevron-square-down-right-f.svg');}
i[chevron-square-down-right]{ background : url('icons/chevron-square-down-right.svg');}
i[chevron-square-down]{ background : url('icons/chevron-square-down.svg');}
i[chevron-square-left-f]{ background : url('icons/chevron-square-left-f.svg');}
i[chevron-square-left]{ background : url('icons/chevron-square-left.svg');}
i[chevron-square-right-f]{ background : url('icons/chevron-square-right-f.svg');}
i[chevron-square-right]{ background : url('icons/chevron-square-right.svg');}
i[chevron-square-up-f]{ background : url('icons/chevron-square-up-f.svg');}
i[chevron-square-up-left-f]{ background : url('icons/chevron-square-up-left-f.svg');}
i[chevron-square-up-left]{ background : url('icons/chevron-square-up-left.svg');}
i[chevron-square-up-right-f]{ background : url('icons/chevron-square-up-right-f.svg');}
i[chevron-square-up-right]{ background : url('icons/chevron-square-up-right.svg');}
i[chevron-square-up]{ background : url('icons/chevron-square-up.svg');}
i[chevrons-right]{ background : url('icons/chevrons-right.svg');}
i[chevrons-square-down-f]{ background : url('icons/chevrons-square-down-f.svg');}
i[chevrons-square-down-left-f]{ background : url('icons/chevrons-square-down-left-f.svg');}
i[chevrons-square-down-left]{ background : url('icons/chevrons-square-down-left.svg');}
i[chevrons-square-down-right-f]{ background : url('icons/chevrons-square-down-right-f.svg');}
i[chevrons-square-down-right]{ background : url('icons/chevrons-square-down-right.svg');}
i[chevrons-square-down]{ background : url('icons/chevrons-square-down.svg');}
i[chevrons-square-left-f]{ background : url('icons/chevrons-square-left-f.svg');}
i[chevrons-square-left]{ background : url('icons/chevrons-square-left.svg');}
i[chevrons-square-right-f]{ background : url('icons/chevrons-square-right-f.svg');}
i[chevrons-square-right]{ background : url('icons/chevrons-square-right.svg');}
i[chevrons-square-up-f]{ background : url('icons/chevrons-square-up-f.svg');}
i[chevrons-square-up-left-f]{ background : url('icons/chevrons-square-up-left-f.svg');}
i[chevrons-square-up-left]{ background : url('icons/chevrons-square-up-left.svg');}
i[chevrons-square-up-right-f]{ background : url('icons/chevrons-square-up-right-f.svg');}
i[chevrons-square-up-right]{ background : url('icons/chevrons-square-up-right.svg');}
i[chevrons-square-up]{ background : url('icons/chevrons-square-up.svg');}
i[chevrons-up-left]{ background : url('icons/chevrons-up-left.svg');}
i[chevrons-up-right]{ background : url('icons/chevrons-up-right.svg');}
i[chevrons-up]{ background : url('icons/chevrons-up.svg');}
i[chevron-up-left]{ background : url('icons/chevron-up-left.svg');}
i[chevron-up-right]{ background : url('icons/chevron-up-right.svg');}
i[chevron-up]{ background : url('icons/chevron-up.svg');}
i[chronometer-f]{ background : url('icons/chronometer-f.svg');}
i[chronometer]{ background : url('icons/chronometer.svg');}
i[circle-f]{ background : url('icons/circle-f.svg');}
i[circle]{ background : url('icons/circle.svg');}
i[clear-format]{ background : url('icons/clear-format.svg');}
i[clipboard-f]{ background : url('icons/clipboard-f.svg');}
i[clipboard]{ background : url('icons/clipboard.svg');}
i[clock-f]{ background : url('icons/clock-f.svg');}
i[clock]{ background : url('icons/clock.svg');}
i[close-circle-f]{ background : url('icons/close-circle-f.svg');}
i[close-circle]{ background : url('icons/close-circle.svg');}
i[close-rectangle-f]{ background : url('icons/close-rectangle-f.svg');}
i[close-rectangle]{ background : url('icons/close-rectangle.svg');}
i[close]{ background : url('icons/close.svg');}
i[cloud-f]{ background : url('icons/cloud-f.svg');}
i[cloud-rain-f]{ background : url('icons/cloud-rain-f.svg');}
i[cloud-rain]{ background : url('icons/cloud-rain.svg');}
i[cloud-snow-f]{ background : url('icons/cloud-snow-f.svg');}
i[cloud-snow]{ background : url('icons/cloud-snow.svg');}
i[cloud]{ background : url('icons/cloud.svg');}
i[cloud-thunder-f]{ background : url('icons/cloud-thunder-f.svg');}
i[cloud-thunder]{ background : url('icons/cloud-thunder.svg');}
i[codepen-circle]{ background : url('icons/codepen-circle.svg');}
i[codepen-square]{ background : url('icons/codepen-square.svg');}
i[codepen]{ background : url('icons/codepen.svg');}
i[code-sample]{ background : url('icons/code-sample.svg');}
i[code]{ background : url('icons/code.svg');}
i[coffee-cup-f]{ background : url('icons/coffee-cup-f.svg');}
i[coffee-cup]{ background : url('icons/coffee-cup.svg');}
i[coffee]{ background : url('icons/coffee.svg');}
i[cog-f]{ background : url('icons/cog-f.svg');}
i[cogs-f]{ background : url('icons/cogs-f.svg');}
i[cogs]{ background : url('icons/cogs.svg');}
i[cog]{ background : url('icons/cog.svg');}
i[coin-f]{ background : url('icons/coin-f.svg');}
i[coin]{ background : url('icons/coin.svg');}
i[color]{ background : url('icons/color.svg');}
i[compass-f]{ background : url('icons/compass-f.svg');}
i[compass]{ background : url('icons/compass.svg');}
i[computer-alt-f]{ background : url('icons/computer-alt-f.svg');}
i[computer-alt]{ background : url('icons/computer-alt.svg');}
i[computer-f]{ background : url('icons/computer-f.svg');}
i[computer]{ background : url('icons/computer.svg');}
i[credit-card-f]{ background : url('icons/credit-card-f.svg');}
i[credit-card]{ background : url('icons/credit-card.svg');}
i[crop]{ background : url('icons/crop.svg');}
i[crown-f]{ background : url('icons/crown-f.svg');}
i[crown]{ background : url('icons/crown.svg');}
i[cutlery-f]{ background : url('icons/cutlery-f.svg');}
i[cutlery]{ background : url('icons/cutlery.svg');}
i[cutter-f]{ background : url('icons/cutter-f.svg');}
i[cutter]{ background : url('icons/cutter.svg');}
i[dashboard-f]{ background : url('icons/dashboard-f.svg');}
i[dashboard]{ background : url('icons/dashboard.svg');}
i[database-f]{ background : url('icons/database-f.svg');}
i[database]{ background : url('icons/database.svg');}
i[deezer-circle]{ background : url('icons/deezer-circle.svg');}
i[deezer-square]{ background : url('icons/deezer-square.svg');}
i[deezer]{ background : url('icons/deezer.svg');}
i[delete-f]{ background : url('icons/delete-f.svg');}
i[delete]{ background : url('icons/delete.svg');}
i[deviantart-circle]{ background : url('icons/deviantart-circle.svg');}
i[deviantart-square]{ background : url('icons/deviantart-square.svg');}
i[deviantart]{ background : url('icons/deviantart.svg');}
i[dice-f]{ background : url('icons/dice-f.svg');}
i[dices-f]{ background : url('icons/dices-f.svg');}
i[dices]{ background : url('icons/dices.svg');}
i[dice]{ background : url('icons/dice.svg');}
i[differenciation]{ background : url('icons/differenciation.svg');}
i[digg]{ background : url('icons/digg.svg');}
i[direction-f]{ background : url('icons/direction-f.svg');}
i[directions-f]{ background : url('icons/directions-f.svg');}
i[directions]{ background : url('icons/directions.svg');}
i[direction]{ background : url('icons/direction.svg');}
i[disc-f]{ background : url('icons/disc-f.svg');}
i[discord]{ background : url('icons/discord.svg');}
i[disc]{ background : url('icons/disc.svg');}
i[disqus-circle]{ background : url('icons/disqus-circle.svg');}
i[disqus-square]{ background : url('icons/disqus-square.svg');}
i[disqus]{ background : url('icons/disqus.svg');}
i[dj-f]{ background : url('icons/dj-f.svg');}
i[dj]{ background : url('icons/dj.svg');}
i[dna]{ background : url('icons/dna.svg');}
i[document-f]{ background : url('icons/document-f.svg');}
i[document]{ background : url('icons/document.svg');}
i[door]{ background : url('icons/door.svg');}
i[download]{ background : url('icons/download.svg');}
i[dribbble]{ background : url('icons/dribbble.svg');}
i[drupal-circle]{ background : url('icons/drupal-circle.svg');}
i[drupal-square]{ background : url('icons/drupal-square.svg');}
i[drupal]{ background : url('icons/drupal.svg');}
i[ebay]{ background : url('icons/ebay.svg');}
i[egg-f]{ background : url('icons/egg-f.svg');}
i[eggs-f]{ background : url('icons/eggs-f.svg');}
i[eggs]{ background : url('icons/eggs.svg');}
i[egg]{ background : url('icons/egg.svg');}
i[eject-circle-f]{ background : url('icons/eject-circle-f.svg');}
i[eject-circle]{ background : url('icons/eject-circle.svg');}
i[eject-square-f]{ background : url('icons/eject-square-f.svg');}
i[eject-square]{ background : url('icons/eject-square.svg');}
i[eject]{ background : url('icons/eject.svg');}
i[envelope-f]{ background : url('icons/envelope-f.svg');}
i[envelope-open-f]{ background : url('icons/envelope-open-f.svg');}
i[envelope-open]{ background : url('icons/envelope-open.svg');}
i[envelope]{ background : url('icons/envelope.svg');}
i[extinguisher-f]{ background : url('icons/extinguisher-f.svg');}
i[extinguisher]{ background : url('icons/extinguisher.svg');}
i[eye-close-f]{ background : url('icons/eye-close-f.svg');}
i[eye-close]{ background : url('icons/eye-close.svg');}
i[eyedropper-f]{ background : url('icons/eyedropper-f.svg');}
i[eyedropper]{ background : url('icons/eyedropper.svg');}
i[eye-f]{ background : url('icons/eye-f.svg');}
i[eye]{ background : url('icons/eye.svg');}
i[facebook-circle]{ background : url('icons/facebook-circle.svg');}
i[facebook-square]{ background : url('icons/facebook-square.svg');}
i[facebook]{ background : url('icons/facebook.svg');}
i[fast-backward-circle-f]{ background : url('icons/fast-backward-circle-f.svg');}
i[fast-backward-circle]{ background : url('icons/fast-backward-circle.svg');}
i[fast-backward-square-f]{ background : url('icons/fast-backward-square-f.svg');}
i[fast-backward-square]{ background : url('icons/fast-backward-square.svg');}
i[fast-backward]{ background : url('icons/fast-backward.svg');}
i[fast-forward-circle-f]{ background : url('icons/fast-forward-circle-f.svg');}
i[fast-forward-circle]{ background : url('icons/fast-forward-circle.svg');}
i[fast-forward-square-f]{ background : url('icons/fast-forward-square-f.svg');}
i[fast-forward-square]{ background : url('icons/fast-forward-square.svg');}
i[fast-forward]{ background : url('icons/fast-forward.svg');}
i[feather-f]{ background : url('icons/feather-f.svg');}
i[feather]{ background : url('icons/feather.svg');}
i[female]{ background : url('icons/female.svg');}
i[file-f]{ background : url('icons/file-f.svg');}
i[files-f]{ background : url('icons/files-f.svg');}
i[files]{ background : url('icons/files.svg');}
i[file]{ background : url('icons/file.svg');}
i[filter-f]{ background : url('icons/filter-f.svg');}
i[filter]{ background : url('icons/filter.svg');}
i[fingerprint]{ background : url('icons/fingerprint.svg');}
i[first-aid-f]{ background : url('icons/first-aid-f.svg');}
i[first-aid]{ background : url('icons/first-aid.svg');}
i[fish]{ background : url('icons/fish.svg');}
i[fiverr-circle]{ background : url('icons/fiverr-circle.svg');}
i[fiverr-square]{ background : url('icons/fiverr-square.svg');}
i[fiverr]{ background : url('icons/fiverr.svg');}
i[flag-f]{ background : url('icons/flag-f.svg');}
i[flag]{ background : url('icons/flag.svg');}
i[flame-f]{ background : url('icons/flame-f.svg');}
i[flame]{ background : url('icons/flame.svg');}
i[flashlight-off-f]{ background : url('icons/flashlight-off-f.svg');}
i[flashlight-off]{ background : url('icons/flashlight-off.svg');}
i[flashlight-on-f]{ background : url('icons/flashlight-on-f.svg');}
i[flashlight-on]{ background : url('icons/flashlight-on.svg');}
i[flask]{ background : url('icons/flask.svg');}
i[flickr-circle]{ background : url('icons/flickr-circle.svg');}
i[flickr-square]{ background : url('icons/flickr-square.svg');}
i[flickr]{ background : url('icons/flickr.svg');}
i[flower]{ background : url('icons/flower.svg');}
i[folder-f]{ background : url('icons/folder-f.svg');}
i[folder-open-f]{ background : url('icons/folder-open-f.svg');}
i[folder-open]{ background : url('icons/folder-open.svg');}
i[folder]{ background : url('icons/folder.svg');}
i[folder-zip-f]{ background : url('icons/folder-zip-f.svg');}
i[folder-zip]{ background : url('icons/folder-zip.svg');}
i[football]{ background : url('icons/football.svg');}
i[fork-f]{ background : url('icons/fork-f.svg');}
i[fork]{ background : url('icons/fork.svg');}
i[forward-circle-f]{ background : url('icons/forward-circle-f.svg');}
i[forward-circle]{ background : url('icons/forward-circle.svg');}
i[forward-square-f]{ background : url('icons/forward-square-f.svg');}
i[forward-square]{ background : url('icons/forward-square.svg');}
i[forward]{ background : url('icons/forward.svg');}
i[foursquare]{ background : url('icons/foursquare.svg');}
i[gamepad-f]{ background : url('icons/gamepad-f.svg');}
i[gamepad-retro-f]{ background : url('icons/gamepad-retro-f.svg');}
i[gamepad-retro]{ background : url('icons/gamepad-retro.svg');}
i[gamepad]{ background : url('icons/gamepad.svg');}
i[gamma]{ background : url('icons/gamma.svg');}
i[ghost-f]{ background : url('icons/ghost-f.svg');}
i[ghost-org-circle]{ background : url('icons/ghost-org-circle.svg');}
i[ghost-org-square]{ background : url('icons/ghost-org-square.svg');}
i[ghost-org]{ background : url('icons/ghost-org.svg');}
i[ghost]{ background : url('icons/ghost.svg');}
i[gift-f]{ background : url('icons/gift-f.svg');}
i[gift]{ background : url('icons/gift.svg');}
i[github-circle]{ background : url('icons/github-circle.svg');}
i[github-square]{ background : url('icons/github-square.svg');}
i[github]{ background : url('icons/github.svg');}
i[gitlab-circle]{ background : url('icons/gitlab-circle.svg');}
i[gitlab-square]{ background : url('icons/gitlab-square.svg');}
i[gitlab]{ background : url('icons/gitlab.svg');}
i[glass-empty]{ background : url('icons/glass-empty.svg');}
i[glass-filled-f]{ background : url('icons/glass-filled-f.svg');}
i[glass-filled]{ background : url('icons/glass-filled.svg');}
i[glue-f]{ background : url('icons/glue-f.svg');}
i[glue]{ background : url('icons/glue.svg');}
i[google-circle]{ background : url('icons/google-circle.svg');}
i[google-play-circle]{ background : url('icons/google-play-circle.svg');}
i[google-play-square]{ background : url('icons/google-play-square.svg');}
i[google-play]{ background : url('icons/google-play.svg');}
i[google-plus-circle]{ background : url('icons/google-plus-circle.svg');}
i[google-plus-square]{ background : url('icons/google-plus-square.svg');}
i[google-plus]{ background : url('icons/google-plus.svg');}
i[google-square]{ background : url('icons/google-square.svg');}
i[google]{ background : url('icons/google.svg');}
i[gps-f]{ background : url('icons/gps-f.svg');}
i[gps]{ background : url('icons/gps.svg');}
i[grid-f]{ background : url('icons/grid-f.svg');}
i[grid]{ background : url('icons/grid.svg');}
i[hairdryer-f]{ background : url('icons/hairdryer-f.svg');}
i[hairdryer]{ background : url('icons/hairdryer.svg');}
i[hammer-f]{ background : url('icons/hammer-f.svg');}
i[hammer]{ background : url('icons/hammer.svg');}
i[hashtag]{ background : url('icons/hashtag.svg');}
i[header-1]{ background : url('icons/header-1.svg');}
i[header-2]{ background : url('icons/header-2.svg');}
i[header-3]{ background : url('icons/header-3.svg');}
i[header-4]{ background : url('icons/header-4.svg');}
i[header-5]{ background : url('icons/header-5.svg');}
i[header-6]{ background : url('icons/header-6.svg');}
i[header]{ background : url('icons/header.svg');}
i[headset-f]{ background : url('icons/headset-f.svg');}
i[headset]{ background : url('icons/headset.svg');}
i[heart-f]{ background : url('icons/heart-f.svg');}
i[heart]{ background : url('icons/heart.svg');}
i[helmet-f]{ background : url('icons/helmet-f.svg');}
i[helmet]{ background : url('icons/helmet.svg');}
i[help-f]{ background : url('icons/help-f.svg');}
i[help]{ background : url('icons/help.svg');}
i[highlighter-f]{ background : url('icons/highlighter-f.svg');}
i[highlighter]{ background : url('icons/highlighter.svg');}
i[history]{ background : url('icons/history.svg');}
i[home-f]{ background : url('icons/home-f.svg');}
i[home]{ background : url('icons/home.svg');}
i[hourglass-f]{ background : url('icons/hourglass-f.svg');}
i[hourglass]{ background : url('icons/hourglass.svg');}
i[ice-cream-f]{ background : url('icons/ice-cream-f.svg');}
i[ice-cream]{ background : url('icons/ice-cream.svg');}
i[id-card-f]{ background : url('icons/id-card-f.svg');}
i[id-card]{ background : url('icons/id-card.svg');}
i[inboxes-f]{ background : url('icons/inboxes-f.svg');}
i[inboxes]{ background : url('icons/inboxes.svg');}
i[inbox-f]{ background : url('icons/inbox-f.svg');}
i[inbox]{ background : url('icons/inbox.svg');}
i[indent]{ background : url('icons/indent.svg');}
i[infinite]{ background : url('icons/infinite.svg');}
i[info-f]{ background : url('icons/info-f.svg');}
i[info]{ background : url('icons/info.svg');}
i[instagram]{ background : url('icons/instagram.svg');}
i[instant-picture-f]{ background : url('icons/instant-picture-f.svg');}
i[instant-picture]{ background : url('icons/instant-picture.svg');}
i[intersection]{ background : url('icons/intersection.svg');}
i[italic]{ background : url('icons/italic.svg');}
i[joystick-f]{ background : url('icons/joystick-f.svg');}
i[joystick]{ background : url('icons/joystick.svg');}
i[keyboard-f]{ background : url('icons/keyboard-f.svg');}
i[keyboard]{ background : url('icons/keyboard.svg');}
i[key-f]{ background : url('icons/key-f.svg');}
i[key]{ background : url('icons/key.svg');}
i[language]{ background : url('icons/language.svg');}
i[layers-f]{ background : url('icons/layers-f.svg');}
i[layers]{ background : url('icons/layers.svg');}
i[layout-f]{ background : url('icons/layout-f.svg');}
i[layout]{ background : url('icons/layout.svg');}
i[leaf-f]{ background : url('icons/leaf-f.svg');}
i[leaf]{ background : url('icons/leaf.svg');}
i[lifebuoy-f]{ background : url('icons/lifebuoy-f.svg');}
i[lifebuoy]{ background : url('icons/lifebuoy.svg');}
i[lightbulb-f]{ background : url('icons/lightbulb-f.svg');}
i[lightbulb]{ background : url('icons/lightbulb.svg');}
i[line]{ background : url('icons/line.svg');}
i[linkedin-circle]{ background : url('icons/linkedin-circle.svg');}
i[linkedin-square]{ background : url('icons/linkedin-square.svg');}
i[linkedin]{ background : url('icons/linkedin.svg');}
i[link]{ background : url('icons/link.svg');}
i[log-in]{ background : url('icons/log-in.svg');}
i[log-out]{ background : url('icons/log-out.svg');}
i[ltr]{ background : url('icons/ltr.svg');}
i[luggage-f]{ background : url('icons/luggage-f.svg');}
i[luggage]{ background : url('icons/luggage.svg');}
i[magic-f]{ background : url('icons/magic-f.svg');}
i[magic]{ background : url('icons/magic.svg');}
i[magnet-f]{ background : url('icons/magnet-f.svg');}
i[magnet]{ background : url('icons/magnet.svg');}
i[male]{ background : url('icons/male.svg');}
i[map-f]{ background : url('icons/map-f.svg');}
i[map-marker-f]{ background : url('icons/map-marker-f.svg');}
i[map-marker]{ background : url('icons/map-marker.svg');}
i[map]{ background : url('icons/map.svg');}
i[mask-f]{ background : url('icons/mask-f.svg');}
i[mask]{ background : url('icons/mask.svg');}
i[medal-f]{ background : url('icons/medal-f.svg');}
i[medal]{ background : url('icons/medal.svg');}
i[medical]{ background : url('icons/medical.svg');}
i[medium-circle]{ background : url('icons/medium-circle.svg');}
i[medium-square]{ background : url('icons/medium-square.svg');}
i[medium]{ background : url('icons/medium.svg');}
i[menu]{ background : url('icons/menu.svg');}
i[merge-f]{ background : url('icons/merge-f.svg');}
i[merge]{ background : url('icons/merge.svg');}
i[message-alt-f]{ background : url('icons/message-alt-f.svg');}
i[message-alt]{ background : url('icons/message-alt.svg');}
i[message-alt-writing-f]{ background : url('icons/message-alt-writing-f.svg');}
i[message-alt-writing]{ background : url('icons/message-alt-writing.svg');}
i[message-f]{ background : url('icons/message-f.svg');}
i[messages-alt-f]{ background : url('icons/messages-alt-f.svg');}
i[messages-alt]{ background : url('icons/messages-alt.svg');}
i[messages-f]{ background : url('icons/messages-f.svg');}
i[messages]{ background : url('icons/messages.svg');}
i[message]{ background : url('icons/message.svg');}
i[message-writing-f]{ background : url('icons/message-writing-f.svg');}
i[message-writing]{ background : url('icons/message-writing.svg');}
i[messenger]{ background : url('icons/messenger.svg');}
i[mic-alt]{ background : url('icons/mic-alt.svg');}
i[mic-circle-f]{ background : url('icons/mic-circle-f.svg');}
i[mic-circle]{ background : url('icons/mic-circle.svg');}
i[mic-f]{ background : url('icons/mic-f.svg');}
i[microchip-f]{ background : url('icons/microchip-f.svg');}
i[microchip]{ background : url('icons/microchip.svg');}
i[mic-square-f]{ background : url('icons/mic-square-f.svg');}
i[mic-square]{ background : url('icons/mic-square.svg');}
i[mic]{ background : url('icons/mic.svg');}
i[minus-circle-f]{ background : url('icons/minus-circle-f.svg');}
i[minus-circle]{ background : url('icons/minus-circle.svg');}
i[minus-rectangle-f]{ background : url('icons/minus-rectangle-f.svg');}
i[minus-rectangle]{ background : url('icons/minus-rectangle.svg');}
i[minus]{ background : url('icons/minus.svg');}
i[moon-f]{ background : url('icons/moon-f.svg');}
i[moon]{ background : url('icons/moon.svg');}
i[more-horizontal-f]{ background : url('icons/more-horizontal-f.svg');}
i[more-horizontal]{ background : url('icons/more-horizontal.svg');}
i[more-vertical-f]{ background : url('icons/more-vertical-f.svg');}
i[more-vertical]{ background : url('icons/more-vertical.svg');}
i[mountain-f]{ background : url('icons/mountain-f.svg');}
i[mountain]{ background : url('icons/mountain.svg');}
i[move-alt]{ background : url('icons/move-alt.svg');}
i[move]{ background : url('icons/move.svg');}
i[movie]{ background : url('icons/movie.svg');}
i[mug-f]{ background : url('icons/mug-f.svg');}
i[mug]{ background : url('icons/mug.svg');}
i[music-f]{ background : url('icons/music-f.svg');}
i[music]{ background : url('icons/music.svg');}
i[myspace-circle]{ background : url('icons/myspace-circle.svg');}
i[myspace-square]{ background : url('icons/myspace-square.svg');}
i[myspace]{ background : url('icons/myspace.svg');}
i[napster-circle]{ background : url('icons/napster-circle.svg');}
i[napster-square]{ background : url('icons/napster-square.svg');}
i[napster]{ background : url('icons/napster.svg');}
i[newsletter-f]{ background : url('icons/newsletter-f.svg');}
i[newsletter]{ background : url('icons/newsletter.svg');}
i[newspaper-f]{ background : url('icons/newspaper-f.svg');}
i[newspaper]{ background : url('icons/newspaper.svg');}
i[npm]{ background : url('icons/npm.svg');}
i[odnoklassniki-circle]{ background : url('icons/odnoklassniki-circle.svg');}
i[odnoklassniki-square]{ background : url('icons/odnoklassniki-square.svg');}
i[odnoklassniki]{ background : url('icons/odnoklassniki.svg');}
i[opera-circle]{ background : url('icons/opera-circle.svg');}
i[opera-square]{ background : url('icons/opera-square.svg');}
i[opera]{ background : url('icons/opera.svg');}
i[ordered-list]{ background : url('icons/ordered-list.svg');}
i[orientaton]{ background : url('icons/orientaton.svg');}
i[padlock-alt-f]{ background : url('icons/padlock-alt-f.svg');}
i[padlock-alt-open-f]{ background : url('icons/padlock-alt-open-f.svg');}
i[padlock-alt-open]{ background : url('icons/padlock-alt-open.svg');}
i[padlock-alt]{ background : url('icons/padlock-alt.svg');}
i[padlock-f]{ background : url('icons/padlock-f.svg');}
i[padlock-open-f]{ background : url('icons/padlock-open-f.svg');}
i[padlock-open]{ background : url('icons/padlock-open.svg');}
i[padlock]{ background : url('icons/padlock.svg');}
i[page-break]{ background : url('icons/page-break.svg');}
i[paper-plane-f]{ background : url('icons/paper-plane-f.svg');}
i[paper-plane]{ background : url('icons/paper-plane.svg');}
i[paragraph]{ background : url('icons/paragraph.svg');}
i[patreon-circle]{ background : url('icons/patreon-circle.svg');}
i[patreon-square]{ background : url('icons/patreon-square.svg');}
i[patreon]{ background : url('icons/patreon.svg');}
i[pause]{ background : url('icons/pause.svg');}
i[paypal-circle]{ background : url('icons/paypal-circle.svg');}
i[paypal-square]{ background : url('icons/paypal-square.svg');}
i[paypal]{ background : url('icons/paypal.svg');}
i[pencil-f]{ background : url('icons/pencil-f.svg');}
i[pencil]{ background : url('icons/pencil.svg');}
i[pen-f]{ background : url('icons/pen-f.svg');}
i[pen]{ background : url('icons/pen.svg');}
i[periscope-circle]{ background : url('icons/periscope-circle.svg');}
i[periscope-square]{ background : url('icons/periscope-square.svg');}
i[periscope]{ background : url('icons/periscope.svg');}
i[phone-f]{ background : url('icons/phone-f.svg');}
i[phone]{ background : url('icons/phone.svg');}
i[picture-edit]{ background : url('icons/picture-edit.svg');}
i[picture-f]{ background : url('icons/picture-f.svg');}
i[pictures-f]{ background : url('icons/pictures-f.svg');}
i[pictures]{ background : url('icons/pictures.svg');}
i[picture]{ background : url('icons/picture.svg');}
i[pie-chart-alt]{ background : url('icons/pie-chart-alt.svg');}
i[pie-chart-f]{ background : url('icons/pie-chart-f.svg');}
i[pie-chart]{ background : url('icons/pie-chart.svg');}
i[pin-alt-f]{ background : url('icons/pin-alt-f.svg');}
i[pin-alt]{ background : url('icons/pin-alt.svg');}
i[pin-f]{ background : url('icons/pin-f.svg');}
i[pin]{ background : url('icons/pin.svg');}
i[pinterest-circle]{ background : url('icons/pinterest-circle.svg');}
i[pinterest-square]{ background : url('icons/pinterest-square.svg');}
i[pinterest]{ background : url('icons/pinterest.svg');}
i[pizza-slice]{ background : url('icons/pizza-slice.svg');}
i[plane-f]{ background : url('icons/plane-f.svg');}
i[plane]{ background : url('icons/plane.svg');}
i[play-circle-f]{ background : url('icons/play-circle-f.svg');}
i[play-circle]{ background : url('icons/play-circle.svg');}
i[play-square-f]{ background : url('icons/play-square-f.svg');}
i[play-square]{ background : url('icons/play-square.svg');}
i[play]{ background : url('icons/play.svg');}
i[plug-f]{ background : url('icons/plug-f.svg');}
i[plug]{ background : url('icons/plug.svg');}
i[plus-circle-f]{ background : url('icons/plus-circle-f.svg');}
i[plus-circle]{ background : url('icons/plus-circle.svg');}
i[plus-rectangle-f]{ background : url('icons/plus-rectangle-f.svg');}
i[plus-rectangle]{ background : url('icons/plus-rectangle.svg');}
i[plus]{ background : url('icons/plus.svg');}
i[pocket-watch-f]{ background : url('icons/pocket-watch-f.svg');}
i[pocket-watch]{ background : url('icons/pocket-watch.svg');}
i[podcast]{ background : url('icons/podcast.svg');}
i[power]{ background : url('icons/power.svg');}
i[printer-f]{ background : url('icons/printer-f.svg');}
i[printer]{ background : url('icons/printer.svg');}
i[qr-code]{ background : url('icons/qr-code.svg');}
i[quora-circle]{ background : url('icons/quora-circle.svg');}
i[quora-square]{ background : url('icons/quora-square.svg');}
i[quora]{ background : url('icons/quora.svg');}
i[quote]{ background : url('icons/quote.svg');}
i[rainbow]{ background : url('icons/rainbow.svg');}
i[rec]{ background : url('icons/rec.svg');}
i[rectangle-f]{ background : url('icons/rectangle-f.svg');}
i[rectangle]{ background : url('icons/rectangle.svg');}
i[reddit]{ background : url('icons/reddit.svg');}
i[redo]{ background : url('icons/redo.svg');}
i[refresh-reverse]{ background : url('icons/refresh-reverse.svg');}
i[refresh]{ background : url('icons/refresh.svg');}
i[repeat]{ background : url('icons/repeat.svg');}
i[rocket-f]{ background : url('icons/rocket-f.svg');}
i[rocket]{ background : url('icons/rocket.svg');}
i[rss-feed]{ background : url('icons/rss-feed.svg');}
i[rtl]{ background : url('icons/rtl.svg');}
i[rubber]{ background : url('icons/rubber.svg');}
i[ruler-f]{ background : url('icons/ruler-f.svg');}
i[ruler]{ background : url('icons/ruler.svg');}
i[save-f]{ background : url('icons/save-f.svg');}
i[save]{ background : url('icons/save.svg');}
i[scissors]{ background : url('icons/scissors.svg');}
i[screen-f]{ background : url('icons/screen-f.svg');}
i[screen]{ background : url('icons/screen.svg');}
i[screwdriver-f]{ background : url('icons/screwdriver-f.svg');}
i[screwdriver]{ background : url('icons/screwdriver.svg');}
i[search-folder]{ background : url('icons/search-folder.svg');}
i[search-minus]{ background : url('icons/search-minus.svg');}
i[search-plus]{ background : url('icons/search-plus.svg');}
i[search]{ background : url('icons/search.svg');}
i[select-all]{ background : url('icons/select-all.svg');}
i[set-backward-circle-f]{ background : url('icons/set-backward-circle-f.svg');}
i[set-backward-circle]{ background : url('icons/set-backward-circle.svg');}
i[set-backward-square-f]{ background : url('icons/set-backward-square-f.svg');}
i[set-backward-square]{ background : url('icons/set-backward-square.svg');}
i[set-backward]{ background : url('icons/set-backward.svg');}
i[set-forward-circle-f]{ background : url('icons/set-forward-circle-f.svg');}
i[set-forward-circle]{ background : url('icons/set-forward-circle.svg');}
i[set-forward-square-f]{ background : url('icons/set-forward-square-f.svg');}
i[set-forward-square]{ background : url('icons/set-forward-square.svg');}
i[set-forward]{ background : url('icons/set-forward.svg');}
i[set-square-f]{ background : url('icons/set-square-f.svg');}
i[set-square]{ background : url('icons/set-square.svg');}
i[settings-alt]{ background : url('icons/settings-alt.svg');}
i[share-alt-f]{ background : url('icons/share-alt-f.svg');}
i[share-alt]{ background : url('icons/share-alt.svg');}
i[share]{ background : url('icons/share.svg');}
i[shield-check-f]{ background : url('icons/shield-check-f.svg');}
i[shield-check]{ background : url('icons/shield-check.svg');}
i[shield-close-f]{ background : url('icons/shield-close-f.svg');}
i[shield-close]{ background : url('icons/shield-close.svg');}
i[shield-f]{ background : url('icons/shield-f.svg');}
i[shield-half]{ background : url('icons/shield-half.svg');}
i[shield-minus-f]{ background : url('icons/shield-minus-f.svg');}
i[shield-minus]{ background : url('icons/shield-minus.svg');}
i[shield-plus-f]{ background : url('icons/shield-plus-f.svg');}
i[shield-plus]{ background : url('icons/shield-plus.svg');}
i[shield]{ background : url('icons/shield.svg');}
i[shopify-circle]{ background : url('icons/shopify-circle.svg');}
i[shopify-square]{ background : url('icons/shopify-square.svg');}
i[shopify]{ background : url('icons/shopify.svg');}
i[shopping-bag-alt-f]{ background : url('icons/shopping-bag-alt-f.svg');}
i[shopping-bag-alt]{ background : url('icons/shopping-bag-alt.svg');}
i[shopping-bag-f]{ background : url('icons/shopping-bag-f.svg');}
i[shopping-bag]{ background : url('icons/shopping-bag.svg');}
i[shopping-cart]{ background : url('icons/shopping-cart.svg');}
i[shuffle]{ background : url('icons/shuffle.svg');}
i[signal]{ background : url('icons/signal.svg');}
i[sitemap-f]{ background : url('icons/sitemap-f.svg');}
i[sitemap]{ background : url('icons/sitemap.svg');}
i[skull-f]{ background : url('icons/skull-f.svg');}
i[skull]{ background : url('icons/skull.svg');}
i[skype-circle]{ background : url('icons/skype-circle.svg');}
i[skype-square]{ background : url('icons/skype-square.svg');}
i[skype]{ background : url('icons/skype.svg');}
i[slack-circle]{ background : url('icons/slack-circle.svg');}
i[slack-square]{ background : url('icons/slack-square.svg');}
i[slack]{ background : url('icons/slack.svg');}
i[smiley-f]{ background : url('icons/smiley-f.svg');}
i[smiley]{ background : url('icons/smiley.svg');}
i[snapchat-circle]{ background : url('icons/snapchat-circle.svg');}
i[snapchat-square]{ background : url('icons/snapchat-square.svg');}
i[snapchat]{ background : url('icons/snapchat.svg');}
i[snowboard-f]{ background : url('icons/snowboard-f.svg');}
i[snowboard]{ background : url('icons/snowboard.svg');}
i[snowflake]{ background : url('icons/snowflake.svg');}
i[soundcloud]{ background : url('icons/soundcloud.svg');}
i[speaker-f]{ background : url('icons/speaker-f.svg');}
i[speaker]{ background : url('icons/speaker.svg');}
i[spell-check]{ background : url('icons/spell-check.svg');}
i[spotify]{ background : url('icons/spotify.svg');}
i[square-f]{ background : url('icons/square-f.svg');}
i[squarespace-circle]{ background : url('icons/squarespace-circle.svg');}
i[squarespace-square]{ background : url('icons/squarespace-square.svg');}
i[squarespace]{ background : url('icons/squarespace.svg');}
i[square]{ background : url('icons/square.svg');}
i[stackoverflow-circle]{ background : url('icons/stackoverflow-circle.svg');}
i[stackoverflow-square]{ background : url('icons/stackoverflow-square.svg');}
i[stackoverflow]{ background : url('icons/stackoverflow.svg');}
i[stamp-f]{ background : url('icons/stamp-f.svg');}
i[stamp]{ background : url('icons/stamp.svg');}
i[star-f]{ background : url('icons/star-f.svg');}
i[star-full]{ background : url('icons/star-full.svg');}
i[star-half-f]{ background : url('icons/star-half-f.svg');}
i[star-half]{ background : url('icons/star-half.svg');}
i[star]{ background : url('icons/star.svg');}
i[station]{ background : url('icons/station.svg');}
i[stop-sign]{ background : url('icons/stop-sign.svg');}
i[stop]{ background : url('icons/stop.svg');}
i[store]{ background : url('icons/store.svg');}
i[strikethrough]{ background : url('icons/strikethrough.svg');}
i[stumbleupon-circle]{ background : url('icons/stumbleupon-circle.svg');}
i[stumbleupon-square]{ background : url('icons/stumbleupon-square.svg');}
i[stumbleupon]{ background : url('icons/stumbleupon.svg');}
i[subscript]{ background : url('icons/subscript.svg');}
i[subtraction]{ background : url('icons/subtraction.svg');}
i[sun-f]{ background : url('icons/sun-f.svg');}
i[sun]{ background : url('icons/sun.svg');}
i[superscript]{ background : url('icons/superscript.svg');}
i[switch-left-f]{ background : url('icons/switch-left-f.svg');}
i[switch-left]{ background : url('icons/switch-left.svg');}
i[switch-right-f]{ background : url('icons/switch-right-f.svg');}
i[switch-right]{ background : url('icons/switch-right.svg');}
i[sword-f]{ background : url('icons/sword-f.svg');}
i[sword]{ background : url('icons/sword.svg');}
i[table-cell-merge]{ background : url('icons/table-cell-merge.svg');}
i[table-cell]{ background : url('icons/table-cell.svg');}
i[table-col-after]{ background : url('icons/table-col-after.svg');}
i[table-col-before]{ background : url('icons/table-col-before.svg');}
i[table-delete]{ background : url('icons/table-delete.svg');}
i[table-left-header]{ background : url('icons/table-left-header.svg');}
i[table-right-header]{ background : url('icons/table-right-header.svg');}
i[table-row-above]{ background : url('icons/table-row-above.svg');}
i[table-row-after]{ background : url('icons/table-row-after.svg');}
i[table]{ background : url('icons/table.svg');}
i[tablet-f]{ background : url('icons/tablet-f.svg');}
i[table-top-header]{ background : url('icons/table-top-header.svg');}
i[tablet]{ background : url('icons/tablet.svg');}
i[tab]{ background : url('icons/tab.svg');}
i[tag-f]{ background : url('icons/tag-f.svg');}
i[tags-f]{ background : url('icons/tags-f.svg');}
i[tags]{ background : url('icons/tags.svg');}
i[tag]{ background : url('icons/tag.svg');}
i[target]{ background : url('icons/target.svg');}
i[task-list-f]{ background : url('icons/task-list-f.svg');}
i[task-list]{ background : url('icons/task-list.svg');}
i[telegram]{ background : url('icons/telegram.svg');}
i[temperature]{ background : url('icons/temperature.svg');}
i[template]{ background : url('icons/template.svg');}
i[terminal]{ background : url('icons/terminal.svg');}
i[text]{ background : url('icons/text.svg');}
i[thunder-f]{ background : url('icons/thunder-f.svg');}
i[thunder]{ background : url('icons/thunder.svg');}
i[ticket-f]{ background : url('icons/ticket-f.svg');}
i[ticket]{ background : url('icons/ticket.svg');}
i[tools-f]{ background : url('icons/tools-f.svg');}
i[tools]{ background : url('icons/tools.svg');}
i[torch-f]{ background : url('icons/torch-f.svg');}
i[torch]{ background : url('icons/torch.svg');}
i[totem]{ background : url('icons/totem.svg');}
i[train-f]{ background : url('icons/train-f.svg');}
i[train]{ background : url('icons/train.svg');}
i[transgender]{ background : url('icons/transgender.svg');}
i[trash-alt-f]{ background : url('icons/trash-alt-f.svg');}
i[trash-alt]{ background : url('icons/trash-alt.svg');}
i[trash-f]{ background : url('icons/trash-f.svg');}
i[trash]{ background : url('icons/trash.svg');}
i[tree-alt-f]{ background : url('icons/tree-alt-f.svg');}
i[tree-alt]{ background : url('icons/tree-alt.svg');}
i[tree-f]{ background : url('icons/tree-f.svg');}
i[tree]{ background : url('icons/tree.svg');}
i[trello]{ background : url('icons/trello.svg');}
i[triangle-danger-f]{ background : url('icons/triangle-danger-f.svg');}
i[triangle-danger]{ background : url('icons/triangle-danger.svg');}
i[triangle-f]{ background : url('icons/triangle-f.svg');}
i[triangle]{ background : url('icons/triangle.svg');}
i[trophy-f]{ background : url('icons/trophy-f.svg');}
i[trophy]{ background : url('icons/trophy.svg');}
i[tube]{ background : url('icons/tube.svg');}
i[tumblr-circle]{ background : url('icons/tumblr-circle.svg');}
i[tumblr-square]{ background : url('icons/tumblr-square.svg');}
i[tumblr]{ background : url('icons/tumblr.svg');}
i[twitch]{ background : url('icons/twitch.svg');}
i[twitter-circle]{ background : url('icons/twitter-circle.svg');}
i[twitter-square]{ background : url('icons/twitter-square.svg');}
i[twitter]{ background : url('icons/twitter.svg');}
i[umbrella-closed-f]{ background : url('icons/umbrella-closed-f.svg');}
i[umbrella-closed]{ background : url('icons/umbrella-closed.svg');}
i[umbrella-f]{ background : url('icons/umbrella-f.svg');}
i[umbrella]{ background : url('icons/umbrella.svg');}
i[underline]{ background : url('icons/underline.svg');}
i[undo]{ background : url('icons/undo.svg');}
i[unindent]{ background : url('icons/unindent.svg');}
i[union]{ background : url('icons/union.svg');}
i[universe]{ background : url('icons/universe.svg');}
i[unlink]{ background : url('icons/unlink.svg');}
i[unordered-list]{ background : url('icons/unordered-list.svg');}
i[unsplash-circle]{ background : url('icons/unsplash-circle.svg');}
i[unsplash-square]{ background : url('icons/unsplash-square.svg');}
i[unsplash]{ background : url('icons/unsplash.svg');}
i[upload]{ background : url('icons/upload.svg');}
i[user-circle]{ background : url('icons/user-circle.svg');}
i[user-minus]{ background : url('icons/user-minus.svg');}
i[user-plus]{ background : url('icons/user-plus.svg');}
i[user-remove]{ background : url('icons/user-remove.svg');}
i[user-square]{ background : url('icons/user-square.svg');}
i[users]{ background : url('icons/users.svg');}
i[user]{ background : url('icons/user.svg');}
i[viadeo]{ background : url('icons/viadeo.svg');}
i[viber-circle]{ background : url('icons/viber-circle.svg');}
i[viber-square]{ background : url('icons/viber-square.svg');}
i[viber]{ background : url('icons/viber.svg');}
i[video-camera-f]{ background : url('icons/video-camera-f.svg');}
i[video-camera]{ background : url('icons/video-camera.svg');}
i[video-camera-vintage-f]{ background : url('icons/video-camera-vintage-f.svg');}
i[video-camera-vintage]{ background : url('icons/video-camera-vintage.svg');}
i[vimeo-circle]{ background : url('icons/vimeo-circle.svg');}
i[vimeo-square]{ background : url('icons/vimeo-square.svg');}
i[vimeo]{ background : url('icons/vimeo.svg');}
i[vine-circle]{ background : url('icons/vine-circle.svg');}
i[vine-square]{ background : url('icons/vine-square.svg');}
i[vine]{ background : url('icons/vine.svg');}
i[voicemail]{ background : url('icons/voicemail.svg');}
i[volume-circle-f]{ background : url('icons/volume-circle-f.svg');}
i[volume-circle]{ background : url('icons/volume-circle.svg');}
i[volume-down-circle-f]{ background : url('icons/volume-down-circle-f.svg');}
i[volume-down-circle]{ background : url('icons/volume-down-circle.svg');}
i[volume-down-square-f]{ background : url('icons/volume-down-square-f.svg');}
i[volume-down-square]{ background : url('icons/volume-down-square.svg');}
i[volume-down]{ background : url('icons/volume-down.svg');}
i[volume-mute-circle-f]{ background : url('icons/volume-mute-circle-f.svg');}
i[volume-mute-circle]{ background : url('icons/volume-mute-circle.svg');}
i[volume-mute-square-f]{ background : url('icons/volume-mute-square-f.svg');}
i[volume-mute-square]{ background : url('icons/volume-mute-square.svg');}
i[volume-mute]{ background : url('icons/volume-mute.svg');}
i[volume-square-f]{ background : url('icons/volume-square-f.svg');}
i[volume-square]{ background : url('icons/volume-square.svg');}
i[volume]{ background : url('icons/volume.svg');}
i[volume-up-circle-f]{ background : url('icons/volume-up-circle-f.svg');}
i[volume-up-circle]{ background : url('icons/volume-up-circle.svg');}
i[volume-up-square-f]{ background : url('icons/volume-up-square-f.svg');}
i[volume-up-square]{ background : url('icons/volume-up-square.svg');}
i[volume-up]{ background : url('icons/volume-up.svg');}
i[watch-f]{ background : url('icons/watch-f.svg');}
i[watch]{ background : url('icons/watch.svg');}
i[water-drop-f]{ background : url('icons/water-drop-f.svg');}
i[water-drop]{ background : url('icons/water-drop.svg');}
i[whatsapp]{ background : url('icons/whatsapp.svg');}
i[wifi]{ background : url('icons/wifi.svg');}
i[wikipedia]{ background : url('icons/wikipedia.svg');}
i[wordpress]{ background : url('icons/wordpress.svg');}
i[world]{ background : url('icons/world.svg');}
i[wrench-f]{ background : url('icons/wrench-f.svg');}
i[wrench]{ background : url('icons/wrench.svg');}
i[write-f]{ background : url('icons/write-f.svg');}
i[write]{ background : url('icons/write.svg');}
i[yahoo-circle]{ background : url('icons/yahoo-circle.svg');}
i[yahoo-square]{ background : url('icons/yahoo-square.svg');}
i[yahoo]{ background : url('icons/yahoo.svg');}
i[yelp-circle]{ background : url('icons/yelp-circle.svg');}
i[yelp-square]{ background : url('icons/yelp-square.svg');}
i[yelp]{ background : url('icons/yelp.svg');}
i[youtube-circle]{ background : url('icons/youtube-circle.svg');}
i[youtube-square]{ background : url('icons/youtube-square.svg');}
i[youtube]{ background : url('icons/youtube.svg');}
